h2 {
	background: rgb(247, 244, 243);
	padding: 7px;
	text-align: center;
	font-weight: 100;
	font-size: 22px;
	font-family: monospace;
	margin-top: 0px;
	border: 1px;
	border-color: #aba4a5;
	border-style: dashed;
	color: black;
}
.player {
	background-color: #d0cebf;
	padding: 1%;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 15px;
	color: white;
	font-weight: bolder;
	margin-bottom: 1%;
}
.player-details {
	display: inline;
}
.increment {
	float: right;
	margin-left: 1%;
	border-radius: 1px;
	border-style: dashed;
	background: green;
	color: white;
}
.decrement{
	float: right;
	margin-right: 1%;
	border-radius: 1px;
	border-style: dashed;
	background-color: #da4b42;
	color: white;
}
span{
	padding-left: 2%;
	padding-right: 2%;
}
.input-text{
	display: inline;
	border-radius: 5px;
	border-style: ridge;
	height: 20px;
	width: 50%;
}
.add-player {
	margin-top: 5%;
	margin-left: 30%;
}
.submit{
	height: 25px;
	background-color: transparent;
	border-style: ridge;
	border-radius: 5px;
}
.page {
	border: 1px;
	border-style: ridge;
	padding-bottom: 7%;
	background: #f7f6f5
}